@import "reset.css";
@import "fonts.css";
@import "grid.css";

:root {}


html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: "Nunito";
}

/* 

-- Reset

*/

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding-left: 0;
}


/* 

-- Components

*/


/* 

-- Helper

*/


/* 

-- App

*/

/* 