@import "reset.css";
@import "fonts.css";
@import "grid.css";

:root {
    --primary-color: #FDC435;
    --app-gray: #F9FAFF;
    --title-color: #25282B;
    --text-color: #828282;

    /* fonts */
    --primary-font: "Nunito";
    --primary-font--md: "Nunito Medium";
    --secondary-font: "Nunito Bold";
}


html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: var(--primary-font);
    overflow-x: hidden;
    background-color: var(--app-gray);
}

/* 

-- Reset

*/

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding-left: 0;
}


/* 

-- Components

*/

.home-btn {
    text-align: center;
    width: 12rem;
    height: 4.5rem;
    background-color: var(--primary-color);
    font-family: var(--secondary-font);
    padding: 1rem 2.5rem;
    border-radius: 1rem;
    border: .2rem solid transparent;
    transition: all 150ms ease-in;
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
}

.home-btn:hover {
    background-color: transparent;
    outline: .1rem solid var(--primary-color);
}

.home-btn--outline {
    background-color: transparent;
    border: .2rem solid var(--title-color);
}

.home-btn--outline:hover {
    outline: none;
    background-color: var(--title-color);
    color: var(--app-gray);
}

.project-btn {
    text-align: center;
    width: 15rem;
    height: 4.5rem;
    font-family: var(--secondary-font);
    border: .1rem solid var(--title-color);
    padding: 1rem 3rem;
    border-radius: 10rem;
    transition: all 150ms ease-in;
}

.project-btn:hover {
    outline: none;
    background-color: var(--title-color);
    color: var(--app-gray);
}


/* 

-- Helper

*/

.flex-row-reverse {
    flex-direction: row-reverse;
}


/* 

-- App

*/

/* 
==========
  Header
==========
*/

.header {
    padding-top: 1.5rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__brand {
    font-family: var(--secondary-font);
    font-size: 1.8rem;
}

.menu {
    display: flex;
    gap: 3rem;
}

.menu__item {
    position: relative;
}

.menu__item::before {
    content: " ";
    position: absolute;
    width: 00;
    height: .2rem;
    background-color: var(--title-color);
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 5rem;
    transition: all 150ms ease-in-out;
}

.menu__item:hover.menu__item::before {
    width: 100%;
}

.menu__item--active.menu__item::before {
    background-color: var(--title-color);
    width: 100%;
}

.menu__link {}

/* 
==========
   Main
==========
*/

.main {}

/* 
==================
   Home section
==================
*/

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home__content {
    max-width: 40%;
    padding-top: 5rem;
}

.home__job {
    color: var(--primary-color);
    font-family: var(--secondary-font);
    font-size: 2rem;
}

.home__title {
    font-family: var(--secondary-font);
    font-size: 5rem;
    line-height: 1.1;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.home__title span {
    margin-right: 1.5rem;
}

.hoem__description {
    max-width: 32rem;
    color: var(--text-color);
}

.home__links {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.home__banner {
    position: absolute;
    top: -4rem;
    right: -12rem;
    z-index: -1;
    width: 60rem;
}

.home__img {
    width: 100%;
    height: 100%;
}


/* 
======================
   Projects section
======================
*/

.projects {
    margin-top: 25rem;
    text-align: center;
}

.section-head {
    margin-bottom: 6rem;
}

.section-head__title {
    font-family: var(--secondary-font);
    font-size: 4rem;
}

.section-head__line {
    width: 10rem;
    height: .3rem;
    background-color: var(--primary-color);
    display: block;
    margin: auto;
    border-radius: 5rem;
}

.project {
    margin-top: 7rem;
    display: flex;
    height: 53rem;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 0 0 4rem rgba(112, 144, 176, 0.1);
    overflow: hidden;
}

.project-content {
    text-align: left;
    padding: 4rem;
    flex-basis: 50%;
}

.project__title {
    font-family: var(--secondary-font);
    font-size: 4rem;
}

.project__description {
    max-width: 40rem;
    font-size: 1.8rem;
    color: var(--text-color);
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.project__banner {
    height: 100%;
    flex-basis: 50%;
    /* overflow: hidden; */
}

.project__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 
=============
    Footer
=============
*/

.footer {
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 4rem;
}

.footer__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footer__social {
    transition: all 150ms ease-in;
}

.footer__social:hover {
    opacity: .7;
}

.social__icon {}

.footer__copy-right {
    color: var(--text-color);
    margin-top: 2rem;
}