@font-face {
    font-family: "Nunito";
    src: url("fonts/Nunito-Regular.ttf");
}

@font-face {
    font-family: "Nunito Medium";
    src: url("fonts/Nunito-Medium.ttf");
}

@font-face {
    font-family: "Nunito Bold";
    src: url("fonts/Nunito-Bold.ttf");
}
